<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="..\SemanticTypes\CustomType.ttinclude" #>

<#
GenerateSemanticType("SemanticTypesRun", "public partial", "Length", "double", true);
GenerateSemanticType("SemanticTypesRun", "public partial", "Area", "double", true);
GenerateSemanticType("SemanticTypesRun", "public", "Weight", "double", true);
GenerateSemanticType("SemanticTypesRun", "public", "Email", "string", false);
#>

