<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ include file="..\SemanticTypes\CustomType.ttinclude" #>
namespace SemanticTypesRun
{
<#
SemanticType("public", typeof(double), "Length");
SemanticType("public", typeof(double), "Area");
SemanticType("public", typeof(double), "Weight");
SemanticType("public", typeof(string), "Email");
SemanticType("internal", typeof(string), "UserName");
#>
}
